<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/head.html::head(${title})">
    <title th:text="${title}"></title>
</head>
<body>
<div th:replace="components/header.html::header(${op})"></div>
<div class="container-fluid">
    <main class="tm-main">
        <div th:replace="components/search_form::search_form(show_add=true)"></div>
        <div class="row tm-row" th:each="content:${contents}">
            <article class="col-12">
                <hr class="tm-hr-primary">
                <a class="effect-lily tm-post-link tm-pt-20" th:href="@{'/post/'+${content.id}}">
                    <h2 class="tm-pt-30 tm-color-primary tm-post-title" th:text="${content.title}">
                        卓越学院学习分享平台使用说明
                    </h2>
                </a>
                <p class="tm-pt-30" th:text="${content.dsc}"></p>
                <hr>
                <span th:if="${content.typ} == 1">通知公告</span>
                <span th:if="${content.typ} == 0" th:text="'资源分享-'+${content.tag.name}"></span>
                <span th:text="'创建者：'+${content.usr.name}"></span>
            </article>
        </div>
<div class="row tm-row tm-mt-100 tm-mb-75">
    <div class="tm-prev-next-wrapper">
        <a href="" class="mb-2 tm-btn tm-btn-primary tm-prev-next" th:href="@{/(page=${pageNumber}-1,type=${param.type})}" th:if="${pageNumber}>0">上一页</a>
        <a href="" class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20" th:if="${pageNumber}==0">上一页</a>
        <a href="" class="mb-2 tm-btn tm-btn-primary tm-prev-next" th:href="@{/(page=${pageNumber}+1,type=${param.type})}" th:if="${pageNumber}<${totalPage}-1">下一页</a>
        <a href="" class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20" th:if="${pageNumber}==${totalPage}-1">下一页</a>
    </div>
</div>
<footer class="row tm-row">
    <hr class="col-12">
    <div class="col-md-6 col-12 tm-color-blue">
        杭州电子科技大学卓越学院
    </div>
</footer>
</main>
</div>
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/templatemo-script.js}"></script>
</body>
</html>