<!DOCTYPE html>

<html lang="zh"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">

  <!-- Loding font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">

  <!-- Custom Styles -->
  <link rel="stylesheet" type="text/css" href="../static/css/login.css" th:href="@{/css/login.css}">
  <link rel="apple-touch-icon-precomposed" href="../static/img/logo2.png" th:href="@{/img/logo2.png}">
  <link rel="shortcut icon" href="../static/img/logo2.png" th:href="@{/img/logo2.png}">
  <script src="../static/js/md5.js" th:src="@{/js/md5.js}"></script>
  <title>用户登录</title>
</head>
<body>

<!-- Backgrounds -->

<div id="login-bg" class="container-fluid">
  <div class="bg-img"></div>
  <div class="bg-color"></div>
</div>

<!-- End Backgrounds -->

<div class="container" id="login">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="login">
        <h1>用户登录</h1>
        <script>
          function checkForm() {
            var pwd = document.getElementById('password');
            var pwd_md5 = document.getElementById('password_md5');
            pwd_md5.value=hex_md5(pwd.value);// 把密码变为MD5
            return true;
          }
        </script>
        <div id="login_err" th:if="${param.error!=null&&session.SPRING_SECURITY_LAST_EXCEPTION!=null}"
             th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">用户名或者密码错误</div>
        <!-- Loging form -->
        <form method="POST" th:action="@{/verify}" onsubmit="checkForm()">
        <div class="form-group">
          <input type="text" class="form-control" name="usn" placeholder="学号">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password" placeholder="密码">
          <input type="hidden" id="password_md5" name="pwd">
        </div>
        <div class="form-check">
          <label class="switch">
            <input type="checkbox" name="remember-me"  value="true">
            <span class="slider round"></span>
          </label>
          <label class="form-check-label">一周内免登录</label>
          <label class="forgot-password">
            <a th:href="@{https://api.hduhelp.com/oauth/authorize(response_type='code',client_id=${oauth2.id},redirect_uri='https://hduhonorsgc.cn/oauth2',state='33554432')}">数字杭电登录></a>
          </label>
        </div>
        <br>
        <button type="submit" class="btn btn-lg btn-block btn-success">登录</button>
        </form>
        <!-- End Loging form -->
      </div>
    </div>
    <div style="text-align: center" class="col-lg-8">
      <p style="height:20px;line-height:20px;margin: 10px 0px 10px 0px;color:#737373;">
        <a target="_blank" href="http://www.beian.miit.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
          <img src="https://s1.ax1x.com/2020/07/02/NqYHbQ.png" style="float:left;"/>浙ICP备2021029370号-1
        </a>
      </p>
    </div>
  </div>
</div>
</body>
</html>